@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --colors: {
    blue: {
      400: "#A7D8F5",
      500: "#0070F3",
      600: "#2F6FEB",
      800: "#1E3A5F",
    },
    green: {
      300: "#B8E0D2",
      400: "#85DE7E",
      500: "#408e3d",
      600: "#477e47",
    },
    black: {
      100: "#f0f0f0",
      300: "#cfcfcf",
      400: "#bfbfbf",
      500: "#9e9e9e",
      600: "#7e7e7e",
      700: "#5e5e5e",
      800: "#3e3e3e",
      900: "#1e1e1e",
    },
    orange: {
      300: "#F8EDEB",
      400: "#FFD3B5",
      500: "#FFAA00",
      600: "#FFAA00",
    },
    pink: {
      300: "#EAB4C4",
      400: "#F8EDEB",
      500: "#FFAA00",
      600: "#FFAA00",
    },
    white: {
      200: "#477e47",
      300: "#E0E0E0",
      400: "#F0F0F0",
      500: "#FFFFFF",
    },
    gray: {
      100: "#F0F0F0",
      200: "#E0E0E0",
      300: "#CFCFCF",
      400: "#BFBFBF",
      500: "#9E9E9E",
      600: "#7E7E7E",
      700: "#5E5E5E",
      800: "#333333",
      900: "#1E1E1E",
    },
  },
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8EDEB;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.carousel-container {
  width: 80%;
  margin: auto;
}


/* Contenedor visible */
.marquee-container {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px 0;
  position: relative;
}

/* Contenedor que se mueve (contiene el texto duplicado) */
@media (min-width: 768px) {
  .marquee-content {
    display: flex; /* Para que la animación funcione bien con transform */
    width: fit-content;
    /* Aplica la animación: nombre, duración, tipo, repetición */
    animation: marquee-animation 20s linear infinite;
    /* Pausar al pasar el ratón (opcional) */
    /* &:hover {
        animation-play-state: paused;
      } */
  }
}

.marquee-content span {
  white-space: nowrap;
  padding-right: 2rem;
}

@keyframes marquee-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* @media (min-width: 768px) {
  .animate-marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
  }
} */